package {{invokerPackage}};

import java.util.HashSet;
import java.util.Set;

import javax.ws.rs.ApplicationPath;
import javax.ws.rs.core.Application;

@ApplicationPath("")
public class RestApplication extends Application {

    /*
     * Per instance JAX-RS classes
     */
    @Override
    public Set<Class<?>> getClasses() {
        Set<Class<?>> classes = new HashSet<Class<?>>();
        {{#apiInfo.apis}}
        classes.add({{invokerPackage}}.{{classname}}.class);
        {{/apiInfo.apis}}
        return classes;
    }
}
